html,
body {
  font-size: 18;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem;
}

h2 {
  margin: 0.5rem;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin: 1rem;
  width: 20%;
}

img {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
}

button {
  padding: 0.5rem 1rem;
}
